<mat-card routerLink="/activities" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar  class="example-header-image"></div>
      <mat-card-title>Buscar actividades</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        Ver todas las actividades registradas y buscar entre ellas por fecha.
      </p>
    </mat-card-content>

</mat-card>

<mat-card routerLink="/addActivity" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Agregar actividad</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        Registrar una actividad en la bitacora.
      </p>
    </mat-card-content>

</mat-card>